@include ear-animation(left-ear-deer, 0, -15deg);
@include ear-animation(right-ear-deer, 0, 20deg);

[id^="deer"] {
  #right-leg {
    transform-origin: 445px 677px;
  }

  #left-leg {
    transform-origin: 549px 672px;
  }

  #left-ear {
    animation: left-ear-deer 2s ease-in-out infinite;
    transform-origin: 640px 237px;
  }

  #right-ear {
    animation: right-ear-deer 2s ease-in-out infinite;
    transform-origin: 400px 225px;
  }
}
