@import "./mixins";

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

svg {
  max-width: 100vw;
  max-height: 100vh;
}

code {
  background-color: #333;
  color: #fff;
  padding: 0 3px;
  border-radius: 5px;
}

@include ping-pong-animation(tail, 20deg, -20deg);
@include ping-pong-animation(right-leg, 40deg, -10deg);
@include ping-pong-animation(left-leg, -40deg, 10deg);

@import "./animal";

// Overrides
@import "./skullcat";
@import "./deer";
